- let g = game[0]
- let sp = seriesPlatform[0]
- let title = g.title
- let gNo = g.gNo
- let synTitles = g.synTitle
- let orgTitle = g.orgTitle
- let platform = sp.platform
- let series = sp.series
- let releaseDate = g.releaseDate
- let synopsis = g.synopsis
- let metasc = g.metaScore

html(lang=de)
    head
        link(rel="icon", href="/public/favicon.ico")
        link(rel="stylesheet", href="/public/css/main.css")
        link(rel="stylesheet", href="/public/css/gamePage.css")
        title= title

    body
        div(class="container")
            include navbar
            div(class="titlebar")
                | Title
                form(action="#" method="post")
                    input(name="title" type="text" placeholder=title style="width: 100%")

            div(class="content-box")
                div(style="padding: 10px")
                    h4 Original Title
                        form(action="#" method="post")
                            input(name="orgTitle" type="text" placeholder=orgTitle style="width: 100%")

                    h4 Synonymous Titles
                        form(action="#" method="post")
                            input(name="synTitles" type="text" placeholder=synTitles style="width: 100%")

                    h4 Original Platform
                        form(action="#" method="post")
                            input(name="platform" type="text" placeholder=platform style="width: 100%")

                    h4 Series
                        form(action="#" method="post")
                            input(name="series" type="text" placeholder=series style="width: 100%")

                    h4 Release Date
                        form(action="#" method="post")
                            input(name="releaseDate" type="text" placeholder=releaseDate style="width: 100%")

                    h4 Meta Score
                        form(action="#" method="post")
                            input(name="metaScore" type="text" placeholder=metasc style="width: 100%")

                    h4 Synopsis
                        form(action="#" method="post")
                            input(name="synopsis" type="text" placeholder=synopsis style="width: 100%")

                    h4 Developers
                        form(action="#" method="post")
                            input(name="synopsis" type="text" placeholder=developers style="width: 100%")