- let game = games[0]
- let title = game.title
- let gNo = game.gNo
- let synTitles = game.synTitle
- let orgTitle = game.orgTitle
- let platform = game.platform
- let series = game.series
- let releaseDate = date(game.releaseDate)
- let synopsis = game.synopsis
- let metasc = game.metaScore
- let rank = game.rank
- let usrscore = game.usrscore

html(lang=de)
    head
        link(rel="icon", href="/public/favicon.ico")
        link(rel="stylesheet", href="/public/css/main.css")
        link(rel="stylesheet", href="/public/css/gamePage.css")
        title= title

    body
        div(class="container")
            include navbar
            p(class="titlebar")= title

            div(class="content-box")
                div(class="leftbox")
                    div(style="width: 300px; height: auto; border-bottom: 1px solid gray")
                        img(alt=title, src="/public/img/game_covers/game" + pad(gNo) + "_cover.jpg")
                    div
                        h4 Andere Namen:
                        if synTitles || orgTitle
                            ul
                                if synTitles
                                    li Synonyme:
                                        ul(style="list-style-type: square")
                                            - for (let i = 0; i < synTitles.split("^").length; i++)
                                                li= synTitles.split("^")[i]
                                if orgTitle
                                    li Originaltitel:
                                        ul(style="list-style-type: square")
                                            li= orgTitle

                        h4 Plattformen:
                        ul
                            li Original Plattform:
                                ul(style="list-style-type: square")
                                    li
                                        a(href="/" + platform)= platform
                            if ports !== null
                                li Portierungen:
                                    ul(style="list-style-type: square")
                                        - for (let i = 0; i < ports.length; i++)
                                            li
                                                a(href="/" + ports[i].port)= ports[i].port

                        h4 Weitere Informationen:
                        ul
                            li Spieleserie:
                                ul(style="list-style-type: square")
                                    li= series

                            li Datum der Ersterscheinung:
                                ul(style="list-style-type: square")
                                    li= releaseDate

                            li Genre:
                                ul(style="list-style-type: square")
                                    - for (let i = 0; i < genres.length; i++)
                                        li= genres[i].genre

                            li Publisher:
                                ul(style="list-style-type: square")
                                    - for (let i = 0; i < publishers.length; i++)
                                        li= publishers[i].publisher

                            li Entwickler:
                                ul(style="list-style-type: square")
                                    - for (let i = 0; i < developers.length; i++)
                                        li=developers[i].developer

                            li Spielmodi:
                                ul(style="list-style-type: square")
                                    - for (let i = 0; i < modes.length; i++)
                                        li=modes[i].mode

                div(class="rightbox")
                    div(class="scoreBox")
                        div(class="metaScoreBox")
                            h4 MetaScore
                            if metasc >= 90
                                div(class="metaScore", style="background-color: limegreen")
                                    h4= metasc
                            else if metasc >= 75
                                div(class="metaScore", style="background-color: #a4de02")
                                    h4= metasc
                            else if metasc >= 50
                                div(class="metaScore", style="background-color: #ffd500")
                                    h4= metasc
                            else if metasc >= 25
                                div(class="metaScore", style="background-color: orangered")
                                    h4= metasc
                            else if metasc < 25
                                div(class="metaScore", style="background-color: red")
                                    h4= metasc

                        div(class="rankBox")
                            h4 Ranking
                            if rank !== null
                                h3= "#" + rank
                            else
                                h3 #----

                        div(class="userScoreBox")
                            h4 Nutzerbewertung
                            if usrscore !== null
                                h3= usrscore + "/10"
                            else
                                h3 -- /10

                    if session.username
                        div(class="listAddBox")
                            div(class="addBox")
                                form(action="/" + title method="post")
                                    if listEntry.length === 0
                                        button(name="listAdd" value="1" style="background-color: rebeccapurple; color: white") Zu Liste hinzufügen
                                    else
                                        button(name="listRemove" value="1" style="background-color: lavender") Von Liste entfernen
                            if listEntry.length !== 0
                                div(class="scoreSelectBox")
                                    div(class="scoreSelect")
                                        span(style="margin: 5px")
                                            div(style="display: inline-block; margin-left: 5px") Score
                                            form(action="#" method="post")
                                                input(name="score" type="number" min="0" max="10" placeholder=listEntry.score)
                                            div(style="display: inline-block; color: yellow") ★
                                //TODO
                                div(class="statusSelectBox")
                                    form(action="#" method="post")
                                        select(id="select" name="status")
                                            option(value="6") Geplant
                                            option(value="2") Am Spielen
                                            option(value="3") Abgeschlossen
                                            option(value="4") Nicht fortgesetzt
                                            option(value="5") Abgebrochen
                                        input(type="submit" style="width: auto" value="✓")




                    div(class="synopsisBox")
                        h4 Zusammenfassung:
                        ul(style="list-style-type: none; text-align: justify; padding: 0 60px 20px 20px;")
                            li=synopsis

                    div(class="relatedBox")
                        if prequels || sequels || remakes || remasters
                            h4 Verwandte Titel:
                            if prequels
                                h5 Prequel(s):
                                div(class="gallery")
                                    div(class="wrapper")
                                        - for (let i = 0; i < prequels.length; i++)
                                            div(class="item")
                                                div
                                                    a(href="/" + prequels[i].title)
                                                        img(alt=prequels[i].title src="/public/img/game_covers/game" + pad(prequels[i].gNo) + "_cover.jpg")

                            if sequels
                                h5 Sequel(s):
                                div(class="gallery")
                                    div(class="wrapper")
                                        - for (let i = 0; i < sequels.length; i++)
                                            div(class="item")
                                                div
                                                    a(href="/" + sequels[i].title)
                                                        img(alt=sequels[i].title src="/public/img/game_covers/game" + pad(sequels[i].gNo) + "_cover.jpg")

                            if remakes
                                h5 Remake(s):
                                div(class="gallery")
                                    div(class="wrapper")
                                        - for (let i = 0; i < remakes.length; i++)
                                            div(class="item")
                                                div
                                                    a(href="/" + remakes[i].title)
                                                        img(alt=remakes[i].title src="/public/img/game_covers/game" + pad(remakes[i].gNo) + "_cover.jpg")

                            if remasters
                                h5 Remaster(s):
                                div(class="gallery")
                                    div(class="wrapper")
                                        - for (let i = 0; i < remasters.length; i++)
                                            div(class="item")
                                                div
                                                    a(href="/" + remasters[i].title)
                                                        img(alt=remasters[i].title src="/public/img/game_covers/game" + pad(remasters[i].gNo) + "_cover.jpg")