html(lang="de")
    head
        link(rel="icon", href="/public/favicon.ico")
        link(rel="stylesheet", href="/public/css/main.css")
        link(rel="stylesheet", href="/public/css/listPage.css")
        title= user + "'s Liste"

    body

        div(class="container")

            //Hotbar
            include navbar
            p(class="titlebar")= user + "'s Liste"


            div(class="content-box")
                div(class="mainbox" style="1067px; height: auto; overflow: hidden")

                    div(class="statusBar")
                        div(class="statusBar-content")
                            form(action="/list/" + user method="get")
                                button(name="selection" type="submit" value="all") Alle Titel
                        div(class="statusBar-content")
                            form(action="/list/" + user method="get")
                                button(name="selection" type="submit" value="2") Am Spielen
                        div(class="statusBar-content")
                            form(action="/list/" + user method="get")
                                button(name="selection" type="submit" value="3") Abgeschlossen
                        div(class="statusBar-content")
                            form(action="/list/" + user method="get")
                                button(name="selection" type="submit" value="4") On Hold
                        div(class="statusBar-content")
                            form(action="/list/" + user method="get")
                                button(name="selection" type="submit" value="5") Nicht fortgesetzt
                        div(class="statusBar-content")
                            form(action="/list/" + user method="get")
                                button(name="selection" type="submit" value="6") Geplant

                    table
                        tr
                            th(style="width: 5px")
                            th(style="width: 25px") #
                            th(style="width: 200px") Cover
                            th(style="width: 600px") Titel
                            th(style="width: 77px") Score
                            th(style="width: 150px") Plattform

                        - let c = 1
                        - for (let i =  0; i < list.length; i++)

                            if statSelect
                                - console.log("comparing " + list[i].status + " and " + statSelect)
                                if list[i].status !== statSelect
                                    - console.log("skip")
                                    - continue
                            case list[i].status
                                when 2: - color= "limegreen"
                                when 3: - color= "steelblue"
                                when 4: - color= "gold"
                                when 5: - color= "darkred"
                                when 6: - color= "gray"

                            tr
                                th: div(style="background-color:" + color + "; height: 210px; width: 5px")
                                th= c
                                th(style="padding: 5px"): a(href="/" + list[i].title): img(alt=list[i].title src="/public/img/game_covers/game" + pad(list[i].gNo) + "_cover.jpg")
                                th: a(href="/" + list[i].title)= list[i].title
                                th= list[i].score
                                th: a(href="/" + list[i].platform)= list[i].platform

                            - c = c + 1